[2022-03-23 09:04] DaveIotDev opened #1 "Error: Main Exception Message: unknown error: no chrome binary at educative.io_scraper/Chrome-bin/linux/chrome/chrome"
Am i missing a step here or is the chrome binary supposed to be there?

Plaform - linux OS

[2022-03-24 02:43] DaveIotDev commented on #1
![1 - Copy](https://user-images.githubusercontent.com/101608765/159831519-d400481d-f90b-4068-af7c-7bd723d7f1f0.JPG)

[2022-03-24 02:43] DaveIotDev commented on #1
Thanks, getting the error below after dropping chrome bin.

[2022-03-24 02:45] DaveIotDev commented on #1
![1 - Copy](https://user-images.githubusercontent.com/101608765/159831742-cdcc6393-4487-4f79-b56b-5d06da5be450.JPG)

[2022-03-24 04:20] anilabhadatta commented on #1
@DaveIotDev Please confirm me 3 steps.
1. Are you running the script from educative_scraper.py?
2. If yes, then did you start chromedriver manually?
3. If yes, then restart your system, maybe the previous processes are causing issues with the port.
4. If not, then go to Chrome-driver/linux/ and open a terminal and load the chromedriver, then execute educative_scraper.py.
5. Also make sure that you

[2022-03-24 04:29] anilabhadatta commented on #1
@DaveIotDev These four steps are important if you want to run from educative_scraper.py
If you want to use the releases, then you can ignore all these steps.
![image](https://user-images.githubusercontent.com/48487849/159841918-c24e3936-60f5-4b17-9f6b-acd1bbc7106c.png)

Next, you have to load the chromedriver and run educative_scraper.py.
![image](https://user-images.githubusercontent.com/48487849

[2022-03-24 05:22] DaveIotDev commented on #1
Are you running the script from educative_scraper.py? Yes as your ROOT path depends on it.
If yes, then did you start chromedriver manually? Yes
If yes, then restart your system, maybe the previous processes are causing issues with the port. Checked no processes
If not, then go to Chrome-driver/linux/ and open a terminal and load the chromedriver, then execute educative_scraper.py.
Also make sure

[2022-03-24 06:49] anilabhadatta commented on #1
Connect with me on telegram
@ghostxriju

[2022-03-24 09:45] anilabhadatta commented on #1
@DaveIotDev --remote-debugging-port is not needed and it shouldn't be 9515. The port 9515 is occupied by chromedriver that is used to connect to selenium webdriver via remote.webdriver. You can provide any other random port numbers as you want.
no-sandbox and dev-svm-usage arguments are already added to code.
I need to clear few things. Did you download the Chrome-bin from the latest release and h

[2022-04-06 09:57] #1 closed

[2022-04-06 09:57] anilabhadatta commented on #1
Create a new issue if problem persists.

[2022-04-27 13:39] keiji11 opened #2 "name 'unicode' is not defined"
Hi, there is an error when I do the scraping of course. Why?
![scrape_educative_error](https://user-images.githubusercontent.com/43145711/165531671-58c697ef-4e9d-4796-809d-7ab85ba09307.png)

[2022-04-27 19:20] anilabhadatta commented on #2
@keiji11 since the scraper worked before, could u test with any other course
Also if possible then send me the link of the course causing issue.
And i guess u are using linux?
Also please use the chrome binaries and drivers provided in releases.
Don't update from any other source as different version may cause different types of issues.

[2022-04-28 15:37] keiji11 opened #3 "no such element: Unable to locate element: {"method":"css selector","selector":"nav[class*='ed-grid-sidebar']"} (Session info: headless chrome=98.0.4758.102)"
![unable_to_locate_element:{CSS}](https://user-images.githubusercontent.com/43145711/165790381-54763f37-4eb9-4845-8e9e-7056c2cd67e7.png)

[2022-04-28 16:39] keiji11 commented on #3
Ok, I bypassed the problem copying the link of a next lesson (the second instead the first).

[2022-04-28 17:21] anilabhadatta commented on #2
@keiji11 okay, i think i made the releases for debian based linux so that may cause issues with arch linux.
If you can contribute in releases , it would be a great help.
Thank you and I am closing the issue

[2022-04-28 17:21] #2 closed

[2022-04-28 17:25] anilabhadatta commented on #3
@keiji11 always retry if there is any error while scraping, I have provided log.txt as well so that you can resume the scraping if there is any issue caused.
ed-grid-sidebar refers to the left side navbar and maybe due to slow internet the navbar didn't load so the scraper stopped.

[2022-04-28 17:25] #3 closed

[2022-04-29 12:52] keiji11 commented on #3
Ok, I bypassed the problem copying the link of a next lesson (the second instead the first).

But you're right, That's slow internet. Thanks

[2022-04-29 12:54] keiji11 commented on #2
Alright, Thank you to you

[2022-06-04 13:23] sachamorgese opened #4 "No Python at 'C:\Users\anila\AppData\Local\Programs\Python\Python39\python.exe'"
Hi, I've been trying to use your script a little on both Windows and MacOS but I've been unable to use it.
I've found several problems, using both the executables and the source code from this repo. I've been absolutely unable to use it.

On Windows I suspect you might have hardcoded Python in the executable. I get this when running it:

`No Python at 'C:\Users\anila\AppData\Local\Programs\Python\

[2022-06-04 14:04] sachamorgese opened #5 "Main Exception local variable 'driver' referenced before assignment"
Hey there,

I was unable to use the executable for MacOS nor Windows, so I decided to check out the repo and see if I were able to make it work from there.

I followed everything in the instructions and was able to launch chromium and authenticate, but when it's time to start scraping, it fails with this error:

`Main Exception local variable 'driver' referenced before assignment`

I did the same

[2022-06-04 16:26] sachamorgese commented on #5
I found the issue. Or better, I found where the error is happening and why it isn't actually showing what the problem is.

In `educative_scraper.py` you have from line 938:

[code]

I think `driver.quit()` for some reasons prevents the error from being shown here.
If you put it after the print statement, you can see the actual error from that page.

My problem is the lack of text file. The instruc

[2022-06-05 07:25] anilabhadatta commented on #4
@sachamorgese I didn't hardcoded python executable to my knowledge.
May I know which python file produced this error?

[2022-06-05 07:32] anilabhadatta commented on #5
@sachamorgese To scrap manually, run chromedriver.py and then educative_scraper.py
Make sure that you have extracted the Chrome-binaries provided in releases for respective OS.
Since you were able to authenticate your account, so I assume the chrome binaries are correctly placed.
Next you have to create a simple text file ".txt" and paste the link of the first topic in a course (displaed in README

[2022-06-10 10:58] killlowkey opened #6 "Add the ability to generate web pages"
Hello, thank you for creating an excellent project, it is very helpful to me.
I have an idea. You can add the ability to generate pages with links similar to those below, Generating images is not conducive to reading.
[url-shortening-service-like-tiny-url](https://akshay-iyangar.github.io/system-design/grokking-system-design/system-design-problems/url-shortening-service-like-tiny-url.html)
Thank y

[2022-06-10 12:58] anilabhadatta commented on #6
@killlowkey I thought of that method but there were some images which doesn't show up in HTML. This is why I had to take screenshot of each webpage.
Also you cannot be sure when educative may change the URLs of certain images, which in turn may effect the offline HTML file.
Example:
![image](https://user-images.githubusercontent.com/48487849/173069136-d9fa3790-88c5-4689-8a12-c8b5abde6701.png)

I w

[2022-06-10 14:09] killlowkey commented on #6
@anilabhadatta I might have a solution to this problem by trying to convert the image to Base64 encoding, as shown below

![Snipaste_2022-06-10_22-05-12](https://user-images.githubusercontent.com/41176828/173083515-31970129-00e9-487f-88e7-ed9ef4926074.png)
After converted into base64
![Snipaste_2022-06-10_22-05-29](https://user-images.githubusercontent.com/41176828/173083655-96c322c0-0e33-474e-908

[2022-06-10 15:06] anilabhadatta commented on #6
@killlowkey try to implement it

[2022-06-22 14:04] umitkara commented on #4
@anilabhadatta same issue.  running the windows exe outputs this error message:
`No Python at 'C:\Users\anila\AppData\Local\Programs\Python\Python39\python.exe'
Traceback (most recent call last):
  File "multiprocess.py", line 96, in <module>
TypeError: an integer is required (got type NoneType)
[13052] Failed to execute script 'multiprocess' due to unhandled exception!`

[2022-06-22 15:29] anilabhadatta commented on #4
@anilabhadatta i have already mentioned that multiprocess.py is not recommended to use.
Download the Manual Executable release or load chromedriver.py and educative_scraper.py in terminal (Also install the required dependencies).

[2022-06-22 15:33] anilabhadatta commented on #4
pip3 install virtualenv
  virtualenv env

  env\Scripts\activate

  source env/bin/activate

  pip3 install -r requirements.txt

  python3 chromedriver.py
  python3 educative_scraper.py

[2022-06-22 16:12] umitkara commented on #4
Thanks i tried the manual one and it worked. Thanks for reply.

[2022-06-22 17:37] #4 closed

[2022-06-22 17:37] #5 closed

[2022-07-03 05:02] BoostUpStation commented on #6
Hi Killlowkey, any progress on saving webpage as html or mhtml ??

@anilabhadatta can you please try saving the webpage as .mhtml instead of taking screenshot?? would be really helpful.
and please give some path and/or a series of courses which will make me a web-scrapper like you :) [i know python, like have done competitive programming using it. that's it.]

[2022-07-03 05:14] killlowkey commented on #6
@BoostUpStation I don’t  found now. Image not be show if use browser saved webpage to html or mhtml.

[2022-07-03 05:18] BoostUpStation commented on #6
here's an old repo which saves in html/mhtml and pdf, but in typescript, don't know that :(
https://github.com/MrAbdulQadeer/educative.io-downloader

hoping somebody can implement it here in Python :)

[2022-07-03 05:34] killlowkey commented on #6
@BoostUpStation I never use python and ts, so I don’t hope you. I think key idea for save webpage to html or mhtml is convert image url to base64 encoding. Hope it helps you.

[2022-07-03 20:19] anilabhadatta commented on #6
@BoostUpStation @killlowkey Mainly there are few svg tags which contain image URLs , so the main option is to find every image URL and convert to base64 and also keep a track of image tags inside svg's and show them up in mhtml.

https://www.educative.io/courses/operating-systems-virtualization-concurrency-persistence/3jj3lxm03xr

test URL where you can see the image wont show up in mhtml.
if you

[2022-07-03 23:48] killlowkey commented on #6
@anilabhadatta I can't test the URL currently because I don't have an Educative Pro account. You may be able to find an unlimited URL, let me see the effect

[2022-07-04 06:43] anilabhadatta commented on #6
@killlowkey i will try to send a free course link having the same issue.

[2022-07-04 09:19] anilabhadatta commented on #6
@killlowkey yes, that is why i didn't implement it. Try, if you can find a way to show the SVG image element in mhtml.
I also thought of saving HTML but that wont work actually due to styling issues.
PDF is out of question since text may be missing or cut when there is a page break.

[2022-07-04 10:50] BoostUpStation commented on #6
@anilabhadatta
Its very simple with 1 stoppage, i.e. try to press ctrl+s in the webdriver opened chrome, and select 2nd option which is 'save as single file .mhtml' and press enter.

Now have to add these steps through scripting in python/js/html, so please do this. Rather than converting, decoding and decoding stuffs.

[2022-07-04 10:53] anilabhadatta commented on #6
@BoostUpStation actually if you ctrl+s mhtml then you wont be able to see the image present inside a iframe > SVG
also you also have to change each image URLs to base64, few of them maybe already converted.
this is required because if educative changes its domain in future or the URL is updated to something new or your system is offline then the images wont load up.
base64 ensures the image is ava

[2022-07-04 11:43] BoostUpStation commented on #6
@anilabhadatta yes you are right,
It didn't even work while saving the complete 'complete html with files included'
none of those options work as expected.
Didn't even work in android.

So base64 is the only way then apart from image.
Hope you implement it :)

Pls see that past repo link i shared, he also took screenshot ig with some more implementation(typescript was used.), and in that even if w

[2022-07-04 12:09] BoostUpStation commented on #6
@anilabhadatta here's some python code which will convert image to base64 and vice versa
https://superuser.com/questions/263634/decoding-base64-images-and-saving-to-a-file

And the link to thosa svg's can be easily taken via js.
By searching for 'data:' in the document.

[2022-07-04 12:15] anilabhadatta commented on #6
@BoostUpStation the issue is not with finding base64 or conversion.
The issue lies how to place a img element with base64 in mhtml in place of that iframe -> svg

[2022-07-18 23:29] anilabhadatta commented on #6
@killlowkey @BoostUpStation New update.
I did a testing on svg element images, seems like the images inside svg was never the problem, the {object tag and #document} was the main issue.
I was able to change get the content inside #document and then put it above object tag.

ifrm = document.querySelectorAll("object[aria-label='svg viewer']")[0]
svg_element  = ifrm.contentDocument.documentElement
if

[2022-07-19 00:07] killlowkey commented on #6
@anilabhadatta
The idea of calling the chrome extension via JavaScript in the console and getting the output HTML can be difficult to implement. you can compare the HTML saved by the SingleFile HTML extension with the previously saved HTML to see how it displays the svg. hopefully this will help you

[2022-07-19 00:31] anilabhadatta commented on #6
@killlowkey i will test this after few hours https://github.com/gildas-lormeau/SingleFile/issues/820

[2022-07-19 02:11] BoostUpStation commented on #6
@anilabhadatta
Yes after running the script in console and then using that extension, its saving all svg's in the html file.
Its great.
Now have to call that extension only.
I'll also find something if can.

[2022-07-19 02:15] BoostUpStation commented on #6
@anilabhadatta
Getting this error when running the code in cosole for this link.

https://www.educative.io/courses/getting-started-braintree-api/x1BG30wrnol

Uncaught TypeError: Cannot read properties of undefined (reading 'contentDocument')
    at <anonymous>:2:20

[2022-07-19 02:32] BoostUpStation commented on #6
So here we have to check if webpage has 'contentDocument' element or not.
And it will work fine then.

[2022-07-19 04:10] BoostUpStation commented on #6
@anilabhadatta you can do like this if it can work.
Add the quizzes and other such elements under one another by modifying the current opened web page.

And then run that above 4 5 lines script,
And then call that singlefile extension or implement its code from github.

[2022-07-19 08:16] anilabhadatta commented on #6
@BoostUpStation
You receive the error because I already hardcoded ifrm for testing to take zero index node but queryselector will create empty list.
When I will implement, I will create a loop and traverse the list so it wont create any error.

I will have to see the singlefile injection part.
I was thinking of adding the quiz images after getting the HTML content from single file because my progr

[2022-07-19 10:35] anilabhadatta commented on #6
@BoostUpStation @killlowkey implementation successfully completed.
[launching a personal website using r.zip](https://github.com/anilabhadatta/educative.io_scraper/files/9140201/launching.a.personal.website.using.r.zip)

[2022-07-19 10:43] killlowkey commented on #6
@anilabhadatta It works perfectly. Nice.

[2022-07-19 10:47] anilabhadatta commented on #6
@killlowkey @BoostUpStation will do some testing and then I will push it.

[2022-07-19 10:48] BoostUpStation commented on #6
@anilabhadatta awesome.
No issues, all working perfect.

You add the code, i'll refork it.
Because sometimes in some urls, it exits,
So after you have uploaded as of now latest single file html code.
I'll test it and then will create pull request.

Waiting for code updation from your side.

And will the codes inside html be scrollable or still separate code files must be used to view the code?

[2022-07-19 10:53] anilabhadatta commented on #6
@BoostUpStation code will not be scrollable because that is done dynamically from educative servers. I will recommend you to use educative-viewer to open code window and easier access to HTML files as well.
I will push it after few hours. currently testing it

[2022-07-19 12:32] anilabhadatta commented on #6
@killlowkey @BoostUpStation i have pushed the latest version, clone it and test it for few courses.

[2022-07-19 14:08] BoostUpStation commented on #6
@anilabhadatta yes, i have pulled latest code, and testing it.
Isn't it good to add singlefile script local path with the code rather than pulling it from git on the fly?

[2022-07-19 15:22] BoostUpStation commented on #6
@anilabhadatta so is it better to scrape single single courses or paths?
And lets say if we scrape single single courses, then how to skip them when scraping paths? As don't want to download again.

[2022-07-19 15:29] anilabhadatta commented on #6
@BoostUpStation basically the scraper needs the first topic url and index(for resume)
You can just skip providing topic urls of paths modules in url list.
Just go to educative.io/explore and copy all the topic url from each course and paste it in url.txt

[2022-07-19 15:40] BoostUpStation commented on #6
@anilabhadatta ok thanks, i'll try that in a few days.
And could you please tell me what is included in the "code widget" folders? Because till now they were empty, i have tried like more than 10 courses.
Like in this course topic.
https://www.educative.io/courses/master-deno-javascript-runtime/3w7RNLk1W7p

[2022-07-19 16:24] anilabhadatta commented on #6
@BoostUpStation codewidget may or maynot contain codes
U will see there a widget will have output tab, so there is no code and that is why the folder is empty.
But if there were multiple tabs then the folder would contain the codes.

[2022-07-19 20:59] anilabhadatta commented on #6
@BoostUpStation fixed and added a feature to collect data from runjs type containers

[2022-07-20 02:32] BoostUpStation commented on #6
@anilabhadatta
whole html is text selectable except these runjs containers.
Any possiblity to make them text selectable as well?

[2022-07-20 02:59] BoostUpStation commented on #6
@anilabhadatta
I found the solution for that, you just have to remove 'no-user-select' property from 'monaco-editor' class div. If the property exists, else continue.
Try to implement this when saving singlefile, if not possible then have to edit html afterwards.

[2022-07-20 03:06] anilabhadatta commented on #6
@BoostUpStation the whole code wont be available if the widget has a scroller

[2022-07-20 03:09] BoostUpStation commented on #6
@anilabhadatta
I have implemented it, will test and report.

[2022-07-20 03:25] BoostUpStation commented on #6
Ya, but if it doesn't have scroller, then in that case i have implemented it, if you allow?, i can create a pull request for just that.

[2022-07-20 03:27] anilabhadatta commented on #6
@BoostUpStation create a pr then.

[2022-07-20 03:50] BoostUpStation commented on #6
@anilabhadatta 1 issue when saving the single file.
The 1st q of quizzes is repeated,
And all quiizzes are added to the end of page rather than at their specific places one after other.
And the screenshots of quizzes aren't zoom independent plus non selectable (but the 1st q of quizz is selectable as its taken with the single file script ig), see if anything can be done about them.

[2022-07-20 04:26] anilabhadatta commented on #6
@BoostUpStation nothing can be done because i have to take screenshots of quiz and they are non selectable for that reason and let it repeat the 1st question, there maybe cases where the first question may not show in single file

[2022-07-20 11:48] BoostUpStation commented on #6
@anilabhadatta the page is not responsive, please do something about it.
Images are going out of screen in portrait mode of mobile. And can't be viewed.

[2022-07-20 12:14] anilabhadatta commented on #6
@BoostUpStation which images?

[2022-07-22 09:44] anilabhadatta commented on #6
@BoostUpStation @killlowkey I am closing this issue as it is now fixed, if there is any bugs, create a new issue.

[2022-07-22 09:44] #6 closed

[2022-07-23 02:03] haha2345 opened #12 "Found Issue, Going Next Course Message: javascript error: Maximum call stack size exceeded"
I meet  "_Found Issue, Going Next Course Message: javascript error: Maximum call stack size exceeded_"  when scrape the 22th course in https://www.educative.io/courses/grokking-the-machine-learning-interview/JEOBmok417l.
The problem occurs after "Get HTML Page Content Using Single File Function".
Is this problem caused by my network or something else?

The log message as follows:
22 https://www.ed

[2022-07-23 03:05] BoostUpStation opened #13 "Found Issue, Going Next Course Message: Script Timeout"
How to increase script timeout?
 so that the scraper doesn't goto next course without completing previous one.

if you don't wamt to implement it here, then please tell me, i'll do in my local script.

[2022-07-23 08:54] anilabhadatta commented on #13
@BoostUpStation actually i have given a lot of sleep commands and the scraping happens sequentially. there is a wait_webdriver function where you can increase the sleeping time to load the page but i am seeing Script timeout error for the first time. Do you have the output before you received this error message, then i can understand in which function the scraper was running before termination.

[2022-07-23 08:58] anilabhadatta commented on #12
@haha2345 maybe slow internet or the chrome was overloaded. restarting the scraper should fix the overloading issues but
 not network issues.
the scraper works fine in my end, if it is not updated to v5.5 then please download the latest release

[2022-07-23 08:58] #12 closed

[2022-07-23 09:02] anilabhadatta commented on #13
@BoostUpStation you can put some print statements to see if the page has loaded properly or not.
![image](https://user-images.githubusercontent.com/48487849/180598290-f6dcbc4f-d719-420b-b332-d603396708b3.png)

I need some more info for that error message, mainly the last function accessed by the scraper

[2022-07-23 10:38] BoostUpStation commented on #13
@anilabhadatta the scraper was running in 'get_pagecontent_using_Singlefile' function.
It terminated there.
And didn't printed 'html file created'

[2022-07-23 12:11] anilabhadatta commented on #13
@BoostUpStation i dont think it can be fixed because this issue is caused by single file.
Single file function basically gets the content and it is a async function so it will return only when the content is retrieved.
Maybe the page suffered some issues for which single file took a lot of time but couldn't get the content.
Restarting should fix this issue, and maybe it is happening due to low pag

[2022-07-23 13:51] BoostUpStation commented on #13
@anilabhadatta
Some times this issue occur and sometimes not.
I tried to locally inject the script and nothing worked :(
may you please try it if possible?
Or any way to directly add the script to the scraper?

[2022-07-23 15:32] anilabhadatta commented on #13
@BoostUpStation check the singlefile repo for fixing this issue and you can reduce some parameters in the command. Block videos audios and script parameters are necessary

[2022-07-23 18:41] anilabhadatta commented on #13
@BoostUpStation try these settings

![image](https://user-images.githubusercontent.com/48487849/180618689-d53b0934-4566-4199-8192-6de5266e4149.png)

[2022-07-23 19:56] BoostUpStation commented on #13
@anilabhadatta ok, i'll try that.
But whats the use already present 'title, filename' in those curly braces?

[2022-07-23 20:00] anilabhadatta commented on #13
@BoostUpStation single file creates a default title and filename from the HTML, maybe for those it is causing the async funct to malfunction. I am not sure, maybe the developer of single-file can explain this issue properly.

[2022-07-23 20:10] BoostUpStation commented on #13
@anilabhadatta ohk, and as we are only taking the content out, so no need for those variables.
Will try and report by tomorrow eve.
Thanks.

[2022-07-23 22:30] BoostUpStation commented on #13
@anilabhadatta  still getting the script timeout issue.
Don't know why,
If no fix from your side. Then you may close this issue here itself.
Thanks.

[2022-07-23 22:48] anilabhadatta commented on #13
@BoostUpStation https://github.com/gildas-lormeau/SingleFile/wiki/How-to-integrate-SingleFile-library-code-in-%22custom%22-environments%3F
read this wiki, maybe it is a cors issue.

[2022-07-24 15:21] anilabhadatta commented on #13
@BoostUpStation Can you tell me the rate of getting this error in suppose scraping 20 courses?
I think if the page is loaded using the topic URL list, maybe this error won't occur, or it may happen due to the CORS issue. Try using singlefile.init() before the scrap command as stated in that wiki.

[2022-07-24 15:52] BoostUpStation commented on #13
@anilabhadatta i think the rate is between 5 to 10.
Will try out the init for sure.

[2022-07-24 16:30] BoostUpStation commented on #13
@anilabhadatta and in that documentation, its saying to pass an object as parameter in init method.
Required? If yes then what to pass? idk

[2022-07-24 18:54] anilabhadatta commented on #13
@BoostUpStation I don't know yet what to pass.

[2022-07-24 19:08] deniz946 opened #14 "Chrome auto-update itself?"
**Describe the bug**
After one scrape attempt, the next time I try to run the scrapper it fails due to version incompatibility with Chrome? I'm not sure if this is more an issue with the script itself or somehow Chrome auto-updates itself after its first usage or something like that?

I'm getting this error
`Found Issue, Going Next Course Message: session not created: This version of ChromeDriver

[2022-07-24 19:43] anilabhadatta commented on #14
@deniz946 in my macos, it didn't auto-update till now.
I will see if there is a way to disable auto-update Google chrome in MAC.

[2022-07-24 19:46] anilabhadatta commented on #14
@deniz946 You can also update the chrome driver to the latest version as of now, I don't think it will cause any issues.

[2022-07-24 20:05] anilabhadatta commented on #14
@deniz946 you could use the releases as of now, it won't auto-update itself and even if it does, restarting the scraper will use the old version always.

[2022-07-24 21:19] anilabhadatta commented on #14
@deniz946 The best method i could find is blocking the update urls in hosts.
open the hosts using this command:  sudo nano /private/etc/hosts
Paste the following URLs at the bottom.
google.com/dl/*
google.com/*
com/dl/*
*.gvt1.com
google.com/service/update2
google.com
googleapis.com/service/update2
google.com

Press Ctrl+O and then press Enter to overwrite the hosts file.
Press Ctrl+C to exit nano

[2022-07-25 17:01] anilabhadatta commented on #13
@BoostUpStation Can you send me the url where you faced this issue. You can also talk to the above mentioned issue regarding this.

[2022-07-25 17:08] anilabhadatta commented on #14
@deniz946 Did the above steps fix your issue?

[2022-07-26 07:41] anilabhadatta commented on #13
![image](https://user-images.githubusercontent.com/48487849/180951110-1411235d-6498-4ce9-a6f3-58ccb37b2537.png)
@BoostUpStation Also you can try adding networkTimeout: 60000 in both try and except block and see if it fixes.

[2022-07-27 17:27] BoostUpStation commented on #13
@anilabhadatta i think its working now.
But will try more.
thanks.

[2022-07-27 17:35] anilabhadatta commented on #13
@BoostUpStation Test it with many courses.
Also check if that "something went wrong" error is still showing . I will try to implement the topic URL traversal after 30th probably and it should fix those issues by a margin.

[2022-07-31 22:51] BoostUpStation commented on #13
@anilabhadatta the script timeout error has been resolved now.
It was due to network fluctuations. No issues in my wifi at night and neighbours wifi anytime HAHA.

[2022-07-31 22:57] anilabhadatta commented on #13
@BoostUpStation I will still recommend using try-except block and use networktimeout parameter. I will push the modified code after few minutes.
I am closing the issue as of now.

[2022-07-31 22:57] #13 closed

[2022-07-31 23:06] #14 closed

[2022-09-10 11:21] chandangm opened #15 "Not sure how to use it"
Downloaded the packages from releases, running both executable at the same time, not sure what's the correct config, but have created a text file with url links in it, was able to login in through the code, but then when you start scrapping it says: **Main Exception local variable 'driver' referenced before assignment**

Anything you want me to try apart from what you've mentioned in the readme? A

[2022-09-10 12:52] anilabhadatta commented on #15
Don't use the releases since I have not updated the releases to the latest version yet.
Clone the repo,
Download the respective Chrome Binary for your operating system from releases section and extract it inside Chrome-bin folder,
Run python chromedriver.py in one terminal
Run python educative_scraper.py in the second terminal
The rest should work fine.
If possible create a video demonstration.

[2022-09-10 13:56] chandangm commented on #15
Did that, same issue.
Need help with creating config file, when it's asking for URL, should i be pasting the url for the course or the file path for url containing text file? Tried with both and still have the same issue.

[2022-09-10 15:07] anilabhadatta commented on #15
File path -> C:/urls.txt

[2022-09-11 18:50] anilabhadatta commented on #15
@chandangm is your issue fixed?

[2022-09-16 08:18] arnabs542 commented on #15
@anilabhadatta hi bro I have a quey. Where does the log.txt file gets saved?

[2022-09-16 08:28] anilabhadatta commented on #15
@arnabs542 save path

[2022-09-16 10:16] jsDobromir opened #16 "Terrible documentation"
I appreciate your efforts to create this, but have nod idea how to start it, the explanation is more confusing than helpful.

[2022-09-16 10:55] anilabhadatta commented on #16
Clone the repo,
Download the respective Chrome Binary for your operating system from the releases section and extract it inside the Chrome-bin folder,
![image](https://user-images.githubusercontent.com/48487849/190623114-493fc389-5ada-44f5-9065-fd7178b44d45.png)

Run python chromedriver.py in a terminal
Run python educative_scraper.py in a separate terminal

Generate the config for first time use.

[2022-09-16 11:07] jsDobromir commented on #16
Tnx for answer.
I am on Ubuntu and getting this error: Main Exception Message: unknown error: no chrome binary at /home/dobromir/Documents/env/educative.io_scraper-master/Chrome-bin/linux/chrome/chrome

![Screenshot from 2022-09-16 14-06-10](https://user-images.githubusercontent.com/55588849/190625650-5740ae96-5803-45ce-80a1-f9370ae4afdd.png)

[2022-09-16 11:09] jsDobromir commented on #16
After creating /linux/chrome/chrome and dropping the chrome binary there, getting this error: **Main Exception Message: unknown error: Chrome failed to start: exited abnormally.
  (unknown error: DevToolsActivePort file doesn't exist)
  (The process started from chrome location /home/dobromir/Documents/env/educative.io_scraper-master/Chrome-bin/linux/chrome/chrome is no longer running, so ChromeDr

[2022-09-16 11:12] anilabhadatta commented on #16
which chrome-bin did you download?
and is your ubuntu running on arm64 or amd64 architecture?

[2022-09-16 11:38] jsDobromir commented on #16
Its amd64, restarted, same issue. Thats what I get when I try to open it in the browser.

![Screenshot from 2022-09-16 14-38-00](https://user-images.githubusercontent.com/55588849/190630618-94860057-3c28-4bc6-89d4-352eaf77e6e0.png)

[2022-09-16 11:44] anilabhadatta commented on #16
@jsDobromir Let me check, i may need you to share your screen

[2022-10-07 08:13] zerohope opened #17 "local variable 'driver' referenced before assignment"
when I press 4 after login Educative
![image](https://user-images.githubusercontent.com/19867950/194505862-5169521a-1ad4-4790-922d-53b5aea09566.png)
I also can't find the log file

[2022-10-07 14:51] zerohope commented on #17
@anilabhadatta
1) press 1 to generate the config
2) press 2 to select the config
![image](https://user-images.githubusercontent.com/19867950/194582667-fdbef653-75cb-4422-af34-92132dbcb9fe.png)
3) press 3 to login and press Enter after login
4) press 4

[2022-10-07 15:04] anilabhadatta commented on #17
@zerohope remove everything and refer the soln posted here.
https://github.com/anilabhadatta/educative.io_scraper/issues/15

[2022-10-07 15:11] anilabhadatta commented on #17
I think you made a mistake in urls.txt file or maybe the file path of urls.txt file.

[2022-10-08 00:25] zerohope commented on #17
@anilabhadatta thank you so much, I can use it successfully.
The script can't copy code from the tab
![image](https://user-images.githubusercontent.com/19867950/194678122-70457a43-2774-4c07-881c-d7bca00905d3.png)
(cplusplus programming for experienced engineers   19-number class definition with separate files)
as well as
![image](https://user-images.githubusercontent.com/19867950/194678139-1ec7f25

[2022-10-08 06:07] anilabhadatta commented on #17
@zerohope can you send me the link of those topics. I will look into the issue.

[2022-10-08 09:17] zerohope commented on #17
@anilabhadatta
https://www.educative.io/courses/cpp-programming-experienced-devs/7nX8gA0WgrG
https://www.educative.io/courses/cpp-programming-experienced-devs/YMrV9WmpL3A

[2022-10-08 13:19] codeccpp opened #18 "Unable to locate element"
Followed the readme. Got the below result. I'm on Win64.

[code]

[2022-10-08 15:31] codeccpp commented on #18
That was an issue with selenium installation. Fixed now.

[2022-10-08 15:31] #18 closed

[2022-10-14 03:48] codeccpp opened #19 "no such element: Unable to locate element:"
Thanks for taking the time to create this great tool. Mostly, it's working just fine but sometimes I get the below error. Any idea on how I can fix it ? Thanks!

[code]

[2022-10-14 15:49] anilabhadatta commented on #19
@codeccpp I need more information like topic URL, log data from terminal.

[2022-10-14 16:03] anilabhadatta commented on #19
@codeccpp pull the repo again and test it, the selector should be fixed now.

[2022-10-14 16:11] codeccpp commented on #19
@anilabhadatta alright, let me try.

[2022-10-14 16:13] anilabhadatta commented on #19
@codeccpp pull v5.8.1

[2022-10-14 16:17] codeccpp commented on #19
Didn't solve it. The url is: https://www.educative.io/courses/decode-coding-interview-cpp/qABQKQqWmmk

[2022-10-14 16:22] anilabhadatta commented on #19
@codeccpp working at my end.

[2022-10-14 16:25] codeccpp commented on #19
@anilabhadatta. Can you kindly send me the output from `pip3 list`. Also, can you zip your source directly and email it to me at codeccpp (at gmail.com)? Thanks!

[2022-10-14 16:30] anilabhadatta commented on #19
@codeccpp the requirements are already provided in GitHub repo

[2022-10-14 16:33] anilabhadatta commented on #19
![image](https://user-images.githubusercontent.com/48487849/195896318-eaf1dabf-186b-4f12-a2ee-b4fe89ee2d3e.png)

try cloning again, also there is an issue with file naming for this topic which I will fix it tonight

[2022-10-14 17:07] codeccpp commented on #19
@anilabhadatta Apparently, the error had to do with long file names. I put it in a shorter directory and it works now.

[2022-10-14 18:21] anilabhadatta commented on #19
@codeccpp yes most probably long file names, I will fix the file naming issue today.

[2022-10-14 19:31] anilabhadatta commented on #19
@codeccpp pull the latest repo and do some testing, should fix the file naming issues.
Also you can enable long path
https://www.microfocus.com/documentation/filr/filr-4/filr-desktop/t47bx2ogpfz7.html

[2022-10-16 17:48] paletisuresh commented on #19
Getting below error any help is greatly appreciated.

Driver Loaded

                            [Selected config: 0] Starting Scraping: 0, https://www.educative.io/courses/decode-coding-interview-cpp/qABQKQqWmmk

Load Webpage Function
Checking Login Function
Checking for captcha Function...
Create Course Folder Function
Found Issue, Going Next Course Message: no such element: Unable to locate ele

[2022-10-16 20:54] anilabhadatta commented on #19
@paletisuresh clone the repo and use the tool.
Steps are provided in readme.
Avoid using releases executable file as they are not updated

[2022-10-18 00:59] zerohope opened #20 "Found Issue, Going Next Course 'name'"
Try to down the course learn git the hard way, it doesn't work
this is the address in the urls.txt   https://www.educative.io/courses/learn-git-hard-way/JYOGn0Bkv5J

![image](https://user-images.githubusercontent.com/19867950/196310698-155ca5a4-829b-4e54-a709-b8adffc3398c.png)
![image](https://user-images.githubusercontent.com/19867950/196310682-746df41c-6f43-4e36-b10d-d532674e57bb.png)

[2022-10-18 17:15] sumant4ssm commented on #20
I am having the same issue, how do we fix it?

[2022-10-18 18:22] sumant4ssm commented on #20
Alright, I am not a Python expert by I debugged this problem and found the problem was with the below code
[code]

**Just note this line**
    metadata = driver.find_elements( By.CSS_SELECTOR, meta_script_selector)[0].get_attribute('innerHTML')
It uses the ```0th``` element but in my case, it was ```1st``` element( Found out after looking through the sources)

Changing the previous line to the bel

[2022-10-18 18:54] anilabhadatta commented on #20
@sumant4ssm thank you for pointing out the issue.
Currently i am not well so i will try to fix it in few days.
If possible comment the latest get file name function and uncomment the previous one present just above.

[2022-10-19 07:40] sumant4ssm commented on #20
thanks @anilabhadatta .  It was an easy fix and was able to fix it.

[2022-10-20 04:50] paletikoushik commented on #20
after commenting getting below error any help is greatly appreciated

ad Webpage Function
Checking Login Function
Checking for captcha Function...
Create Course Folder Function
Getting File Name
File Name Found
Found Issue, Going Next Course slugify() got an unexpected keyword argument 'replacements'
Script Execution Complete

[2022-10-20 09:40] anilabhadatta commented on #20
@zerohope @sumant4ssm @paletikoushik Test it now, should be fixed. Clone the repo again in a fresh location.

[2022-10-20 17:18] anilabhadatta commented on #16
@jsDobromir Is your issue resolved and should I close this issue?

[2022-10-20 17:19] #15 closed

[2022-10-20 17:20] anilabhadatta commented on #17
@zerohope I will look into this issue, if you face any more bugs while scraping please let me know.

[2022-10-20 17:21] anilabhadatta commented on #19
@codeccpp @paletisuresh closing this issue since file naming was fixed in latest version.

[2022-10-20 17:21] #19 closed

[2022-10-21 05:13] paletikoushik commented on #20
cloned the repo again in fresh location still getting below error, any help is greatly appreciated sir.

Driver Loaded

                            [Selected config: 0] Starting Scraping: 0, https://www.educative.io/courses/decode-coding-interview-cpp/qABQKQqWmmk

Load Webpage Function
Checking Login Function
Checking for captcha Function...
Create Course Folder Function
Getting File Name
File Nam

[2022-10-21 06:28] anilabhadatta commented on #20
@paletikoushik In my testing, i am not receiving this error.
Please answer the following?
Have you created a virtual env?
If yes, then did you install the modules from requirements.txt?

In my tool, I am using python-slugify instead of slugify. Maybe that is causing some issues.

One more note I should add, there is a bug in file naming as well. I will fix it today.

[2022-10-21 08:30] paletikoushik commented on #20
Ok sir, so I made mistake

after install requirements.txt I got selenium missing.
I did pip3 install selenium and after that got slugify missing and I used pip3 install slugify, so that is creating the problem sir now how to solve this issue sir. I tried to uninstall it by pip3 uninstall slugify and installing pip3 install python-slugify still getting same error. I tested it on mac and its working

[2022-10-21 14:24] anilabhadatta commented on #20
@paletikoushik can you share your screen?

[2022-10-23 07:23] paletikoushik commented on #20
running the commands with
python chromedriver.py
python educative_scraper.py  instead of python3 chromedriver.py..... solved my issue it asked for selenium and slugify and i used python-slugify it worked like charm thanks for the scraper and many many thanks for your support.

[2022-10-24 06:29] anilabhadatta commented on #20
Welcome.

[2022-11-05 15:45] #16 closed

[2022-11-05 15:45] #17 closed

[2022-11-05 15:45] #20 closed

[2022-11-14 08:10] leeming87v5 opened #22 "So difficult to use"
Why not embed all required bins together and just one command to run ?
I have to figure out all the required bins versions and many other env problems to solve, that make it not so easy to use, or painfully to use.

[2022-11-30 11:45] haha2345 opened #23 "Found Issue, Going Next Course too many values to unpack (expected 2)"
hello！ There are some problems when I used the version6.6 to scrape https://www.educative.io/module/lesson/dynamic-programming-cpp/qV7yoAqYgPG.
The log shows '3 https://www.educative.io/module/lesson/dynamic-programming-cpp/qV7yoAqYgPG
too many values to unpack (expected 2)'
Please help!

[2022-11-30 12:01] haha2345 opened #24 "I solved the problem of creating folders name with symbols like '?:\'"
![explorer_8Bt9NnpZoO](https://user-images.githubusercontent.com/24988090/204788646-3a1c9256-640b-4f11-8bbf-8afce9d86ede.png)
I solved the problem above. The folder name cannot contain these symbols like '?:\'. This renaming problem may only occur in Chinese edition Windows10 or 11.

The code I changed as follows. I added a regex to delete the annoying symbols. Maybe you have a better solution!
[c

[2022-11-30 17:16] anilabhadatta commented on #24
It would be better to add the regex in get_file_name function to reduce redundancy
@haha2345

[2022-11-30 17:16] anilabhadatta commented on #23
@haha2345 checking

[2022-11-30 18:06] anilabhadatta commented on #24
@haha2345 i have added your solution, please do some testing and inform me